# built artifact
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

*.test

/tmp

# Go specific transient artifact
go.work
go.work.sum

# LLM stuff
apm_modules/

/.apm/**/*.personal.*

/.agents
/.claude
/.codex
/.github/instructions
/.github/skills

CLAUDE*.md
CODEX*.md

CLAUDE.md
AGENTS.md

*.env


# Go workspace file
go.work
go.work.sum

/working
.coverinfo
.coverinfo.html
